#clear-button {
    width:100%; 
    background-color: #B0FFB0; 
    border: 1px white;
}

#clear-button:hover {
    background-color:green;
}

#export-button {
    width:100%;
    border: 1px white;
    background-color: #FFD6FF;
}

#export-button:hover {
    background-color: #DD77DD;
}

div {
    padding:10px;
}

#misc-buttons {
    display:none;
}